@import '../../styles/scss/variables';

.weightbmi{
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px #eee;
    height: 150px
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .figure{
        display: flex;
        justify-content: space-between;
    }
}

.progress{
    height: 7px;
    border-radius: 10px;
    color: #C3FF4D;
    background-color: #eee;
}

.data{
    font-size: 10px;
    text-align: right;
    margin-top: 8px;
    color: lighten($text-color, 0%);
    font-weight: lighter;
}

.options{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    svg{
        font-size: 8px;
    }

    span{
        font-size: 12px;
        font-weight: lighter;
        color: $text-color;
    }

    .option1{
        svg{
            fill: $secondary-color
        }
    }

    .option2{
        svg{
            fill: lighten($primary-color, 20%)
        }
    }

    .option3{
        svg{
            fill: $primary-color
        }
    }
}