@import '../../styles/scss/variables';

.appbar{
    background-color: $background-color;
    padding-top: 40px;
}

.toolbar{
    display: flex;
    justify-content: space-between;
}

.title{
    color: $text-color !important;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0px;
}

.historybtn{
    color: lighten($text-color, 10%);
}

.date{
    margin: 20px 0 15px 0;

    h3{
        color: $text-color;
        font-weight: 600;
        font-size: 16px;
    }
}