@import '../../../../styles/scss/variables';


.container{
    padding: 10px;
    width: 100%;
    height: 250px;
    margin-top: 5px;
}

.number{
    font-weight: 200;
    font-size: 16px;
    float: right;
}

.chart{
    width: 100%;
    height: 350px;
}
