@import '../../styles/scss/variables';

.appbar{
    background-color: $background-color !important;
    color: lighten($text-color, 50%);
    padding: 8px;
    -webkit-box-shadow: 0px -4px 3px #eee;
    -moz-box-shadow: 0px -4px 3px #eee;
    box-shadow: 0px -4px 3px #eee;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: fixed;
    bottom: 0;
}

.toolbar{
    display: flex;
    justify-content: space-around;

    button:first-child, button:nth-of-type(4) {
        padding-right: 30px;
    }
}

.fabbutton{
    background-color: $primary-color;
    color: $white;
}

.modalContainer{
    position: relative;
    width: 400px;
    height: auto;
    padding: 15px;
    border-radius: 15px;
}

.card{
    width: 88% !important;
    height: 45px;
    -webkit-box-shadow:  2px 2px 2px 3px #eee;
    -moz-box-shadow:  2px 2px 2px 2px #eee;
    box-shadow: 2px 2px 2px 3px #eee;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    display: block;
    color: inherit;
}

.card h4{
    margin-left: 20px;
}

.card:hover{
    background-color: $primary-color;
    color: $white;
}