@import url('http://fonts.cdnfonts.com/css/gotham-rounded');

$background-color: red;
$link-color: #020203;
$font-stack: 'Gotham Rounded', sans-serif;
$primary-color: #009FDF;
$secondary-color: #020203;
$navbar-text-color: #020203;