@import url('http://fonts.cdnfonts.com/css/gotham-rounded');

$font-stack: 'Gotham Rounded', sans-serif;
$background-color: #fafafa;
$text-color: #313131;
$primary-color: #7b66ff;
$secondary-color: #c3fe4d;
$white: #FFFFFF
